/* Font-awesome properties */

@font-face {
    font-family: 'Big Shoulders Inline Display';
    src: url('fonts/Big_Shoulders_Inline_Display/BigShouldersInlineDisplay-VariableFont_wght.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-display: swap;
    font-style: normal;
    src: url("fonts/fontawesome-free-6.1.1-web/webfonts/fa-brands-400.woff2") format("woff2");
  }

@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-display: swap;
    font-style: normal;
    src: url("fonts/fontawesome-free-6.1.1-web/webfonts/fa-regular-400.woff2") format("woff2");
  }

@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-display: swap;
    font-style: normal;
    src: url("fonts/fontawesome-free-6.1.1-web/webfonts/fa-solid-900.woff2") format("woff2");
  }


::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
    width: 0.5em;
    background: black;
    margin-block: .01em;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    width: 0.5em;
    background: rgba(57, 57, 49, 0.848);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
    background-blend-mode: screen;
    border-radius: 100vw;
    background-image: 
    radial-gradient(at 47% 33%, rgba(2, 2, 2, 0.579) 0, transparent 99%), 
    radial-gradient(at 82% 65%, rgba(208, 181, 115, 0.803) 0, transparent 95%);
}

@supports (scrollbar-color: #dac799 black) {
    * {
        scrollbar-color: #dac799 black;
        scrollbar-width: auto;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/* Custom Properties */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    --ff-alt: 'Tangerine', sans-serif;
    
    --fw-reg: 400;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #dac799;    /* Original color  --> #303030  #dac799 <-- maybe color?   #ffbd59*/
    --clr-accent: #545454;  /* #16e0bd  <-- original color  #a6a6a6 */ 
    --clr-dd-email: #f47d6d; /* doordash e-mail main color */

    



    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */ 


html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased; 
    overflow-x: hidden;
}

body {
    background-color: #dac799;
    background-image: 
        radial-gradient(at 47% 33%, hsl(162.42, 0%, 100%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(240.00, 0%, 100%) 0, transparent 55%);
  /*  background: var(--clr-light); */
    color: var(--clr-dark); 
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased; 
}

section {
   padding: 5em 2em; 
}

img {
    display: block;
    max-width: 100%;
}

ul,li {
    margin: 0;
    padding: 0;
}


strong {
    font-weight: var(--fw-bold);
}


#skip-to-content {
    position: absolute;
    z-index: 9999;
    background: hsl( var(--clr-white) );
    color: hsl( var(--clr-dark) );
    padding: .5em 1em;
    margin-inline: auto;
    transform: translateY(-100%);
    transition: 250ms ease-in;
}

#skip-to-content:focus{
    transform: translateY(0);
}

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }


/* Buttons */
.btn {
    display: inline-block;
    padding: .5em 2.5em;
    font-family: 'Big Shoulders Inline Display', sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 3px;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: 5.5px;
    transition: transform 200ms ease-in-out;
    background-image: 
    radial-gradient(at 47% 33%, rgba(141, 127, 96, 0.079) 0, transparent 99%), 
    radial-gradient(at 82% 65%, rgba(208, 181, 115, 0.03) 0, transparent 95%);
    box-shadow: 0px 20px 15px 0px rgba(0, 0, 0, 0.426);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 0px dotted rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255, .5);
    animation-name: skew;
    z-index: 9999;
    position: relative;
}

.btn:hover {
    animation-name: skew;
    animation-duration: 650ms;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-direction: alternate;
    animation-iteration-count: infinite;
    border: none;
}

@keyframes skew {
    0% {
      transform: scaleX(1.1);
      transform: skewY(1.2);
      width: 315px; 
   /* padding: .5em 2.5em; */
      outline: 0px dotted rgba(255, 255, 255, 0.136);
     /* transform: skewY(15deg); */
    }
    100% {
      transform: scaleX(1.2);
      transform: skewY(1.2);
      opacity: 1;
    /*  padding: .6em 2.6em; */
     width: 325px; 
      outline: 6px dotted rgba(255, 255, 255, 0.936);
   /*   transform: skewY(-10deg); */
    }
  }

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.section__title {
    margin: 0;
    font-size: var(--fs-h1);
    margin-bottom: .25em;
    color: var(--clr-accent);
}

.section__title--intro {
    font-weight: var(--fw-reg);
    color: var(--clr-accent);
  
    
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
    
}



.section__subtitle--intro,
.section__subtitle--about {
   /* background: var(--clr-accent); */
   background-color: #616161;
   backdrop-filter: blur(33.6px);
   background-image: 
       radial-gradient(at 47% 33%, hsl(0.00, 0%, 62%) 0, transparent 59%), 
       radial-gradient(at 82% 65%, hsl(0.00, 1%, 10%) 0, transparent 55%);
    padding: .25em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* Portfolio-item styles */


/********************* */
/********************* */
/********************* */
/********************* */
/********************* */
/* HTML EMAIL STYLES   */
/********************* */
/********************* */
/********************* */
/********************* */
/********************* */
/********************* */
.intro--html-intro {
   width: min-content;
}



.html-email--intro {
   /* color: rgba(255, 255, 255, .8); */
    color: rgba(70, 63, 63, 0.693);
    font-size: 4rem;
   
}

.intro__h1--html-emails {
    position: relative;
    grid-area: img;
    z-index: 2;
    color: white;
    font-family: 'Big Shoulders Inline Display', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    font-weight: 400;
    line-height: 1.1;
    bottom: 0px;
    font-size: 5rem;
}


.section__subtitle--intro--html-emails {
   /* background: var(--clr-accent); */
   background-color: #616161;
   backdrop-filter: blur(33.6px);
   background-image: 
       radial-gradient(at 47% 33%, hsl(0.00, 0%, 62%) 0, transparent 59%), 
       radial-gradient(at 82% 65%, hsl(0.00, 1%, 10%) 0, transparent 55%);
      right: 15px;
      
}

.html-email--body {
    background: rgba(57, 57, 49, 0.848);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(200px);
    background-blend-mode: screen;
    background-color: #dac799;
    background-image: 
    radial-gradient(at 47% 33%, hsl(162.42, 0%, 100%) 0, transparent 59%), 
    radial-gradient(at 82% 65%, hsl(240.00, 0%, 100%) 0, transparent 55%); 
}


.html-email-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 10rem!important; 
  /*  margin-top: 10rem; */
   /* max-width: 1600px; */
    margin: 0 auto;
    padding-block: 10em!important;
    place-items: center;
    gap: 5rem;
    color: rgb(255, 255, 255);
    text-align: center;
    background: rgba(57, 57, 49, 0.848);
    box-shadow: 20px 20px 40px -6px rgb(0 0 0 / 20%);
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
    background-blend-mode: screen;
    background-image: radial-gradient(at 47% 33%, rgba(2, 2, 2, 0.579) 0, transparent 99%), radial-gradient(at 82% 65%, rgba(208, 181, 115, 0.803) 0, transparent 95%);
}


.html-email-row-one {
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}

.html-email-row-two {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

/* flip container */

.scene {
    width: 100%;
    height: 450px;
    margin: 0px 0;
    perspective: 600px;
    margin: 0 auto;
   
  }
  
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1000ms;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }

  .tiege-link {
    font-size: 1.1rem;
    text-decoration: none;
    color: rgba(255, 255, 255, .8);
    cursor: pointer;

  }

  .thursday-link {
      font-size: 1.1rem;
      text-decoration: none;
      color: rgba(255, 255, 255, .8);
      cursor: pointer;

  }

  .dd-link {
      color: rgba(255, 255, 255, .8);
      font-size: 1.1rem;
      text-decoration: none;
      cursor: pointer;

  }

  .starbucks-link {
    color: rgba(255, 255, 255, .8);
    font-size: 1.1rem;
    text-decoration: none;
    cursor: pointer;
 
  }
  
  .nature-boutique-link {
    color: rgba(255, 255, 255, .8);
    font-size: 1.1rem;
    text-decoration: none;
    cursor: pointer;

  }

  .coinbase-link {
    color: rgba(255, 255, 255, .8);
    font-size: 1.1rem;
    text-decoration: none;
    cursor: pointer;

  }

  .coffee-house-link {
    color: rgba(255, 255, 255, .8);
    font-size: 1.1rem;
    text-decoration: none;
    cursor: pointer;
  }

  /*.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);  
    
  }*/
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0); 
  }
  
  .card__face--front {
   transform-style: preserve-3d; 
    font-weight: 600;
    -webkit-transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); 
    color: rgba(255, 255, 255, 1);
  /*  color: var(--clr-accent); */
    border: 1px solid rgba(255, 255, 255, 1);
    font-family: 'Big Shoulders Inline Display', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 3px;
   /* background: rgba(57, 57, 49, 0.848); */
   /* box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2); */
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
    background-blend-mode: screen;
  /*  background-image: 
    radial-gradient(at 47% 33%, rgba(2, 2, 2, 0.579) 0, transparent 99%), 
    radial-gradient(at 82% 65%, rgba(208, 181, 115, 0.803) 0, transparent 95%); */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  /*  background: rgba(29, 24, 14, 0.149)!important;
    background-image: 
    radial-gradient(at 47% 33%, rgba(141, 127, 96, 0.079) 0, transparent 99%), 
    radial-gradient(at 82% 65%, rgba(208, 181, 115, 0.03) 0, transparent 85%)!important;
    box-shadow: 0px 33px 29px 0px rgba(0,0,0,0.73);
    -webkit-box-shadow: 0px 33px 29px 0px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 33px 29px 0px rgba(0,0,0,0.73); */
    box-shadow: 0px 33px 29px 0px rgba(0,0,0,0.73);
-webkit-box-shadow: 0px 33px 29px 0px rgba(0,0,0,0.73);
-moz-box-shadow: 0px 33px 29px 0px rgba(0,0,0,0.73);
  }
  
  .card__face--front h1 {
      margin-top: 10rem;
      font-size: 2rem;
      color: white;
    /*  color: var(--clr-accent); */
      font-family: 'Big Shoulders Inline Display', sans-serif;
      font-weight: 600;
  }

  .card__face--back {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  /*  transform: rotateY(180deg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-color: transparent;
    border: 1px solid white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0px 33px 29px 0px rgba(0,0,0,0.73);
    -webkit-box-shadow: 0px 33px 29px 0px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 33px 29px 0px rgba(0,0,0,0.73);
  }

  .card__face--back--tiege {
    background-image: url(img/rootcauseemailgalleryimage.png);
    background-size: 50%;
  }
  
  .card__face--back--thursday {
    background-image: url(img/thursdaygalleryimage.png);
    background-size: 40%;
  }

  .card__face--back--dd {
    background-image: url(img/talley.png);
    background-size: 40%;
  }

  .card__face--back--starbucks {
    background-image: url(img/starbucks.png);
    background-size: 40%;
  }

  .card__face--back--natureboutique {
    background-image: url(img/natureboutiquethumbnail.png);
    background-size: 50%;
  }

  .card__face--back--coinbase {
    background-image: url(img/coinbasegalleryimage.png);
    background-size: 40%;
  }

  .card__face--back--coffee {
    background-image: url(img/coffeehouseemailgalleryimage.png);
    background-size: 50%;
  }


/* Photo Gallery  */
.photo-gallery {
    background: linear-gradient(150deg, rgba(249,241,202,0.6923144257703081) 10%, rgba(0,0,0,0.6671043417366946) 36%, rgba(131,124,81,1) 68%, rgba(0,0,0,1) 89%);
}

.intro-flexbox-gallery > h1,
.intro-flexbox-gallery > p {
display: none;
}

.intro-flexbox-gallery {
    padding-bottom: 0;
    margin-bottom: 0;
}

.flexbox-gallery--intro--title {
    font-family: Tangerine;
    color: #545454;
    display: flex;
   justify-content: center;
    font-size: 60px;
    padding: 0;
    margin: 0;
}


.photo-gallery-intro {
    color: #D9D9D9;
}

.photo-gallery-intro--subtitle {
    color: #D9D9D9;
}

.flexbox-gallery {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 5em;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-grow: 1;
    padding-bottom: 5rem;
}

.flexbox-gallery img {
    margin: 0 auto;
    border-radius: 8px;
    width: 75%;
}

@media (max-width: 974px) {
    .flexbox-gallery > *:first-child{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .flexbox-gallery > *:where(:not(:first-child)) {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .flexbox-gallery img {
        box-shadow: 3px 22px 35px 13px rgba(0,0,0,0.78);
        -webkit-box-shadow: 3px 22px 35px 13px rgba(0,0,0,0.78);
        -moz-box-shadow: 3px 22px 35px 13px rgba(0,0,0,0.78);    
    }

}

@media (min-width: 975px) {
    .flexbox-gallery {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 10rem;
        row-gap: 20rem;
        width: 100%;
        justify-content: center;
        list-style: none;
        flex-grow: 1;
        padding-bottom: 20rem;
       
    }
    .flexbox-gallery li {
        width: 30vw;
        max-height: 80vh;
    }
    .flexbox-gallery img {
        border: none;
        opacity: .5; 
        box-shadow: 10px 10px 30px black, 10px 10px 40px black;       
        vertical-align: bottom;
        opacity: 2000ms linear; 
    }

    .flexbox-gallery img:hover {
        opacity: 1;
        cursor: pointer;
        transform: scale(2.3);
        transition: 3s ease;
        transform-origin: center; 
    }

    .gallery-photo-four,
    .gallery-photo-nine {
        order: -1;
    }
    .gallery-photo-eleven{
        object-fit: contain;   
    }

    .gallery-photo-four img,
    .gallery-photo-nine img,
    .gallery-photo-eleven img,
    .gallery-photo-twelve img,
    .gallery-photo-thirteen img,
    .gallery-photo-fourteen img,
    .gallery-photo-fifteen img,
    .gallery-photo-sixteen img,
    .gallery-photo-seventeen img,
    .gallery-photo-eightteen img,
    .gallery-photo-twenty-three img,
    .gallery-photo-twenty-four img,
    .gallery-photo-twenty-nine img,
    .gallery-photo-thirty img{
        margin-bottom: 2rem;
        
    }
    .gallery-photo-four img:hover,
    .gallery-photo-nine img:hover,
    .gallery-photo-eleven img:hover,
    .gallery-photo-twelve img:hover,
    .gallery-photo-thirteen img:hover,
    .gallery-photo-fourteen img:hover,
    .gallery-photo-fifteen img:hover,
    .gallery-photo-sixteen img:hover,
    .gallery-photo-seventeen img:hover,
    .gallery-photo-eightteen img:hover,
    .gallery-photo-twenty-three img:hover,
    .gallery-photo-twenty-four img:hover,
    .gallery-photo-twenty-nine img:hover,
    .gallery-photo-thirty img:hover {
        transform: scale(1.35);
        transition: 3s ease; 
    }
}

/* header */

.header {
   display: flex;
   justify-content: space-between;
   padding: 1em;
}

.logo {
    max-width: 600px;
}

.nav {
    position: fixed;
    background: rgba(57, 57, 49, 0.848);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(200px);
    background-blend-mode: screen;
    background-image: 
    radial-gradient(at 47% 33%, rgba(2, 2, 2, 0.579) 0, transparent 99%), 
    radial-gradient(at 82% 65%, rgba(208, 181, 115, 0.803) 0, transparent 95%);
    color: rgba(255, 255, 255, .8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
    font-family: 'Big Shoulders Inline Display', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 3px;
   /* transition: transform all 500ms; */
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
    
}

.nav-open .nav {
    transform: translateX(0);
   
}

.nav-open .nav-toggle {
    position: fixed;
    
}

.nav-open .hamburger {
    transform: rotate(.625turn)!important;
   /* background-color: rgb(160, 160, 160)!important; */
   background-color: lightblue!important;
}

.nav-open .hamburger::before{
    transform: rotate(90deg) translateX(-6px);
   /* background-color: rgb(160, 160, 160)!important; */
   background-color: lightblue!important;
}

.nav-open .hamburger::after {
/* background-color: rgb(160, 160, 160)!important; */
background-color: lightblue!important;
    opacity: 0;
}



.nav-toggle:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 4px;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before{
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}

#parent #popup {
    display: none;
  }
  
  #parent:hover #popup {
    display: block;
  }

  .about-me__link {
      text-decoration: none;
      color: var(--clr-accent);
  }

/* Intro section */

.intro  {
   position: relative;
   background: rgba(0, 0, 0, 0.104);
   border-radius: 16px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
   backdrop-filter: blur(20px);
   -webkit-backdrop-filter: blur(20px);
   border: 1px solid rgba(255, 255, 255, 1);
   top: 80px;
   width: 80%;
   margin: 0 auto;
}

@media (max-width: 500px) {
    .intro  {
        top: 45px;
        width: 85%;
     }

}
.intro--html-intro {
    margin-bottom: 3rem!important;
}
.intro__h1--html-emails {
    color: var(--clr-accent);
}
 .intro--html-intro {
    background: rgba(29, 24, 14, 0.149)!important;
    background-image: 
    radial-gradient(at 47% 33%, rgba(141, 127, 96, 0.079) 0, transparent 99%), 
    radial-gradient(at 82% 65%, rgba(208, 181, 115, 0.03) 0, transparent 85%)!important;
    position: relative;
    right: 0px;
    width: 80%;
    max-width: 350px;
    place-items: center!important;;
    place-content: center!important;
    margin-top: 3rem;
    height: auto;
} 
.html-email--intro {
    position: relative;
    left: 65px;
    color: var(--clr-accent);
    font-weight: 300;
    font-family: 'Big Shoulders Inline Display', sans-serif;
    font-size: 2rem;
}

.logo > img{
    width: 500px;
    position: absolute;
    top: -2em;
    left: -8.6em;
    margin: 0;
    padding: 0;
}

.intro__img {
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    /*border-radius: 50%;*/
    border-radius: 5px 20px 5px;
    width: 200px;
    height: 260px;
    height: auto;
    margin: 0 auto;
}

.section__subtitle--intro {
    display: inline-block;
    border-radius: 5px;
    box-shadow: var(--bs); 
}

.main--title-span {
    font-size: 0.68em;
}

.section__subtitle--intro--html-emails {
    color: var(--clr-dark);
    position: relative;
    left: 20px;
}

@media (max-width: 400px) {
    .section__subtitle--intro--html-emails {
        font-size: 1rem;
    }
    .html-email--intro {
        position: relative;
        left: 40px;
        color: var(--clr-accent);
        font-weight: 300;
        font-family: 'Big Shoulders Inline Display', sans-serif;
        font-size: 2rem;
        left: 45px;
    }
}

.intro__img--flexbox-gallery {
    padding-top: 80px;
    background-color: gray;
    width: 600px;
    margin: 0 auto;
   border-radius: 60%;
}

@media (min-width: 675px) {
    .intro {
        /* position */
       top: 80px;
       /* grid */
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
        "img title"
        "img subtitle" ;
        grid-template-columns: min-content max-content;
        /* glass */
        background: rgba(0, 0, 0, 0.104);
        border-radius: 16px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 1);
    }
    .section__title--intro {
        position: relative;
        right: 30px;
        left: 0;
        top: 0;
        bottom: 0;
        font-family: 'Big Shoulders Inline Display', sans-serif; 
    }
    .intro--html-intro  {
        position: relative;
        right: 0px;
        width: 80%;
        max-width: 650px;
        place-items: center;
        place-content: center;
        margin-bottom: 3rem;
        height: 300px;
    }
    .section__subtitle--intro--html-emails {
        width: fit-content!important;
        left: 130px;
        top: 20px;
    }
    .intro__img {
        grid-area: img;
        min-width: 240px;
        position: relative;
        bottom: 20px;
        z-index: 2;
        border-radius: 50%;
}
.intro__h1--html-emails {
    position: relative;
    grid-area: img;
    z-index: 2;
    color: var(--clr-accent);
    font-family: 'Big Shoulders Inline Display', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    font-weight: 400;
    line-height: 1.1;
    bottom: 0px;
    font-size: 5rem;
    right: 70px;
}
.html-email--intro {
    color: var(--clr-accent);
    left: 0px;
    top: 40px;
}

.section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    color: var(--clr-dark);
    width: calc(90% + 2.5em);
}
.intro-flexbox-gallery{
    grid-template-areas: "img img";
    place-items: center;
    margin-bottom: 1rem;
}
.intro__img--flexbox-gallery {
    padding-top: 80px;
    background-color: gray;
    width: 600px;
    margin: 0 auto;
   border-radius: 60%;
}
}

/*SKILLS SECTION*/

.skills-container {
display: flex;
width: 80%;
max-width: 1000px;
flex-direction: column;
gap: 3rem;
}


.skills {
  /*  display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 3rem;
    row-gap: 3rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    
}

.skills i {
    width: auto;
}

.beyond-the-code {
    display: grid;
    grid-template-columns: minmax(50%, 1fr);
    font-family: 'Big Shoulders Inline Display', sans-serif;
    text-transform: uppercase;
    place-content: center;
    place-items: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5)!important;
    border-left: 1px solid rgba(255, 255, 255, 0.7)!important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-block: 1rem;
    z-index: 999;
}








.beyond-the-code-title {
    font-size: 2.3rem;
    letter-spacing: 3px;
    color: lightblue;
    text-transform: uppercase;
    z-index: 1;
}

.beyond-the-code-list-one {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5rem;
    background: transparent;
    font-weight: 200;
    letter-spacing: 1.5px;
    font-size: 0.9rem;
    margin-inline: 1rem;
    list-style-type: none;
    line-height: 4;
    text-align: center;
    font-family: helvetica, sans-serif;
    padding:20px;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: rgba(255, 255, 255, 1);
    margin-block: 2rem;
}
.beyond-the-code-list-two {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: space-evenly; 
    font-weight: 200;
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 1rem;
    margin-block: 5rem;
    margin-inline: 3rem;
    list-style-type: none;
    line-height: 4;
    font-family: helvetica, sans-serif;
    padding: 0px;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.beyond-the-code-list-item {
letter-spacing: 5px;
/*box-shadow: rgba(0, 0, 0, 0.7) 0px 40px 40px -7px;*/
font-weight: 400;
border-radius: 10px;
text-align: center;
padding-inline: 1rem;
height: fit-content;
width: fit-content;
z-index: 9999;
background: transparent;
}

.icon-html {
    color: rgb(255, 102, 0, .75);
   /* color: rgba(255, 255, 255, 0.8); */
}

.icon-html:hover {
    color: rgb(255, 102, 0, .75);
}

.icon-css {
    color: rgb(36, 83, 225, .75);
   /* color: rgba(255, 255, 255, 0.8); */
}

.icon-css:hover {
    color: rgb(36, 83, 225, .75);
}

.icon-js {
    color: rgb(237, 237, 75);
    /* color: rgba(255, 255, 255, 0.8); */
}

.icon-git {
    color: rgba(0,0,0,1);
    /* color: rgba(255, 255, 255, 0.8); */
}

.icon-nodejs {
    color: rgb(27, 155, 82);
    /* color: rgba(255, 255, 255, 0.8); */
}

/* My services */

.my-services {
    margin-top: 10rem;
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
    background: rgba(57, 57, 49, 0.848), 
    radial-gradient(at 82% 65%, rgba(208, 181, 115, 0.803) 0, transparent 95%);
    
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    
   background-blend-mode: exclusion;
  /* background-image: repeating-linear-gradient(45deg, rgba(0,0,0, 0.1) 0px, rgba(0,0,0, 0.1) 1px,transparent 1px, transparent 11px,rgba(0,0,0, 0.5) 11px, rgba(0,0,0, 0.1) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(0deg, rgba(0,0,0, 0.1) 0px, rgba(0,0,0, 0.1) 1px,transparent 1px, transparent 11px,rgba(0,0,0, 0.1) 11px, rgba(0,0,0, 0.1) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(135deg, rgba(0,0,0, 0.1) 0px, rgba(0,0,0, 0.1) 1px,transparent 1px, transparent 11px,rgba(0,0,0, 0.1) 11px, rgba(0,0,0, 0.1) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(90deg, rgba(0,0,0, 0.1) 0px, rgba(0,0,0, 0.1) 1px,transparent 1px, transparent 11px,rgba(0,0,0, 0.1) 11px, rgba(0,0,0, 0.1) 12px,transparent 12px, transparent 32px),linear-gradient(90deg, rgb(167, 149, 108),rgb(80, 80, 80));*/ 
 /* background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(84,84,84)),repeating-linear-gradient(135deg, rgb(84,84,84) 0px, rgb(84,84,84) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgba(176,161,122, 0.98) 0px, rgba(176,161,122, 0.98) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(84,84,84),rgb(84,84,84)); */
 /*background-image: radial-gradient(circle at bottom center, rgba(218,199,153, 0.4392156862745098),rgb(218,199,153, 0.2)),repeating-linear-gradient(135deg, rgb(84,84,84) 0px, rgb(84,84,84) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgba(41, 40, 38, 0.439) 0px, rgba(38, 35, 27, 0.439) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(28, 26, 18),rgb(36, 29, 19, 1));*/
 /*background-image: radial-gradient(circle at center center, transparent,rgb(84,84,84)),repeating-linear-gradient(135deg, rgb(84,84,84) 0px, rgb(84,84,84) 2px,transparent 2px, transparent 10px,rgb(84,84,84) 10px, rgb(84,84,84) 11px,transparent 11px, transparent 21px),repeating-linear-gradient(45deg, rgb(135,122,107) 0px, rgb(135,122,107) 4px,transparent 4px, transparent 8px),linear-gradient(90deg, rgb(84,84,84),rgb(84,84,84));*/
 background-image: 
 radial-gradient(at 47% 33%, rgba(2, 2, 2, 0.579) 0, transparent 99%), 
 radial-gradient(at 82% 65%, rgba(208, 181, 115, 0.803) 0, transparent 95%);
}

.section__title--services {
    color: rgba(255, 255, 255, 0.55);
    position: relative;
    font-family: 'Big Shoulders Inline Display', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    z-index: 2;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 8em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.4;
}

.services {
    margin-bottom: 4em;
}

.service > h3 {
   font-family: 'Big Shoulders Inline Display', sans-serif;
   text-transform: uppercase;
   letter-spacing: 5px;
   font-size: 2.5rem;
   font-weight: 300;
}

.service {
    color: rgb(255, 255, 255, 1);
    width: calc(100% - 2em);
    max-width: 1500px;
    margin: 0 auto;
    font-family: 'Big Shoulders Inline Display', sans-serif;
    letter-spacing: 1.5px;
  /*  background: rgba(0, 0, 0, 0.104); */
    background: transparent;
  /*  box-shadow: rgba(0, 0, 0, 0.7) 0px 40px 40px 15px; */
    border-radius: 10px;
   /* background-image: 
    radial-gradient(at 47% 33%, rgba(141, 127, 96, 0.079) 0, transparent 19%), 
    radial-gradient(at 82% 65%, rgba(208, 181, 115, 0.03) 0, transparent 15%);*/
  /*  border-left: 1.5px solid rgba(255, 255, 255, 0.536); 
    border-right: 1.5px solid rgba(255, 255, 255, 0.536);  */
    padding: 20px;
    z-index: 1;
}

@media (max-width: 50rem) {
    .service {
        margin-block: 2rem;
    }
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .service + .service {
        margin-left: 2em; /* This ensures that the margin on the left is only on
        the siblings and not the parent. (This is important to remember for future projects!!!!) */
    }
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
    border-radius: 8px;
    margin-block: 2rem;
    background: rgba(0, 0, 0, 0.104);
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.936);
}

.about-me__img {
    box-shadow: var(--bs);
    border-radius: 5px;
    border-radius: 5%;
    width: 200px;
    height: 300px;
    margin: 0 auto;
    margin-top: 6rem;
}

.about-me__body {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    letter-spacing: 0.5px;
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
        "title img"
        "subtitle img"
        "text img";
    }
    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1; /* now the image is on top of the text */
        grid-row: 2;
        position: relative; 
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
        border-radius: 5px;
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;  /* to ensure the img will remain on top, z-index with position relative */
        width: 400px;
        bottom: 40px;
    }
}

.my-work {
    color: rgba(255, 255, 255, 0.55);
    text-align: center;
    background: rgba(57, 57, 49, 0.848);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
    background-blend-mode: screen;
    background-image: 
    radial-gradient(at 47% 33%, rgba(2, 2, 2, 0.579) 0, transparent 99%), 
    radial-gradient(at 82% 65%, rgba(208, 181, 115, 0.803) 0, transparent 95%);
}

.section__title--work {
    font-family: 'Big Shoulders Inline Display', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.section__subtitle--work {
   padding-top: .6rem;
   color: var(--clr-accent);
}

.portfolio {
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(80%, .5fr));
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 8rem;
    gap: 6rem;
    margin-bottom: 4rem;
    margin-left: 1rem;
}

.portfolio__item {
    /* get rid of flex and centering if you want to add more content */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    max-width: 80%;
    width: 300px;
    height: 150px;
    letter-spacing: 1.5px;
    font-size: 1.1rem;
    font-family: 'Big Shoulders Inline Display', sans-serif;
    overflow: hidden;  /* so when the box grows it doesn't grow outside of it's container */
    text-decoration: none;
    padding: 0px;
    letter-spacing: 2px;
    margin: 0 auto;
    text-align: center;
    background: rgba(29, 24, 14, 0.349);
    box-shadow: rgba(0, 0, 0, 0.7) 0px 40px 40px -7px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-image: 
    radial-gradient(at 47% 33%, rgba(141, 127, 96, 0.079) 0, transparent 19%), 
    radial-gradient(at 82% 65%, rgba(208, 181, 115, 0.03) 0, transparent 15%);
    border: 1.5px solid rgba(255, 255, 255, 0.536);
    opacity: 1;
    transition: transform 750ms cubic-bezier(.1, 0, .5, 1),
    opacity 500ms linear; 
}

@media (min-width: 895px) and (max-width: 1429px) {
    .portfolio__item {
        width: 500px;
    }
}

.portfolio-item-title {
    font-family: 'Big Shoulders Inline Display', sans-serif;
    letter-spacing: 5px;
    color: rgba(255, 255, 255, 0.9); 
    font-weight: 200; 
    opacity: 1;
}

.portfolio-item-paragraph {
    color: rgba(255, 255, 255, 0.825);
}

.portfolio__img .portfolio__item {
   /* transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;  */
    border-radius: 8px;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

/*.portfolio__img:hover,
.portfolio__item:focus .portfolio_img {
    opacity: .80; 
    transition: 750ms ease-in-out;
}*/

.portfolio__item {
    transition: 500ms ease-in-out!important;
    
}

.portfolio__item:hover {
  
   transform: scale(1.2);
   opacity: 1;
}

@media (max-width: 35rem) {
    .my-work {
        padding: 0;
        margin: 0;
        padding-top: 1rem;
    }
    .portfolio {
        gap: 5rem;
        margin-bottom: 0rem;
        padding-bottom: 5rem;
    }
    .portfolio__item {
       padding: 20px;
       margin: 0;
       align-content: center;
       place-items: center;  
    }
    .portfolio__item:hover {
    transform: scaleX(1.05);
    opacity: .8;
    }
}

/* footer */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5rem 0;
    font-size: var(--fs-h3);
    display: none;
}

.footer a {
    color: inherit; /* Any link that may end up here will automatically
    change color so i don't have to worry about it */
    text-decoration: none;
}

.footer-link {
    font-weight: var(--fw-bold);
}

.footer-link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0em;
    padding: 0;
    position: relative;
    left: 155px;
    top: 20px;
}

.social-list__item {
    margin: 0 1em;
    transition: 500ms ease-out;
}

.social-list__link {
    padding: 0.2em;
    color: rgba(82, 80, 80, 0.687);   
}

@media (max-width: 674px) {
   /* .intro__img {
         
        border-radius: 50%;
    }*/
    .social-list {
        left: 0;
        top: 50px;
        padding: 0;
        width: 100%;
    }
    .social-list__item {
        margin: 0 0.5em;
    }
    .social-list__item:hover {
        transform: scale(1.2);
        transition: 500ms ease-in-out;
        outline: 3px dotted white;
        justify-content: center;
        align-items: center;
    }
    .portfolio {
        position: relative;
        right: 10px;
    }
}

@media (min-width: 675px) and (max-width: 800px) {
    .social-list {
        left: 100px;
        right: 0px;
        top: 50px;
        padding: 0;
        width: 100%;
    }
    .social-list__item {
        margin: 0 1em;
    }
}

@media (min-width: 1430px) {
    .portfolio {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        max-width: 2000px;
        margin: 0 auto;
        place-items: center;
        margin-top: 8rem;
        gap: 5rem;
    }
}

/* Individual portfolio item styles */

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-item-individual img {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 8px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
/********************************/
/********************************/
/********************************/
/********************************/
/* LANDING PAGES GALLERY STYLES */
/********************************/
/********************************/
/********************************/


.landing-pages-display--container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
  
  /*  padding-bottom: 10%!important; */
    margin-top: 10rem!important;
  /*  max-width: 1500px; */
    padding: 6em 2em;
    margin: 0 auto;
    background: rgba(57, 57, 49, 0.848);
    box-shadow: 20px 20px 40px -6px rgb(0 0 0 / 20%);
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
    background-blend-mode: screen;
    background-image: radial-gradient(at 47% 33%, rgba(2, 2, 2, 0.579) 0, transparent 99%), radial-gradient(at 82% 65%, rgba(208, 181, 115, 0.803) 0, transparent 95%);
}

.intro--landing-pages-gallery {
    max-width: 350px;
    height: fit-content;
    margin-top: 5rem;
}

@media (min-width: 675px) {
    .intro--landing-pages-gallery {
        width: 450px;
        height: 300px;
        max-width: 850px;
    }
}

.intro__h1--landing-pages {
    grid-area: img;
    position: relative;
    bottom: 10px;
    font-family: 'Big Shoulders Inline Display', sans-serif;
    letter-spacing: 5px;
    color: var(--clr-accent);
    text-transform: uppercase;
    font-weight: 200!important;
    text-align: center;
}

.section__title--intro--landing-pages {
    color: var(--clr-accent);
    font-weight: 200;
    font-family: 'Big Shoulders Inline Display', sans-serif;
    text-align: center;
    font-size: 2rem;
}

.section__subtitle--intro--landing-pages {
    color: var(--clr-dark)!important;
    text-align: center;
    width: fit-content;
    left: 200px!important;;
    top: -10px;
    margin-top: 1rem;
    width: fit-content;
    font-size: 1rem;
}

.card__face--back--huddle {
    background-image: url(img/instagramgalleryimg.png);
    background-size: 80%;
}
.huddle-link {
    color: rgba(255, 255, 255, .8);
    font-size: 1.1rem;
    text-decoration: none;
    cursor: pointer;
}

.card__face--back--kombucha {
    background-image: url(img/kombuchagalleryimg.png);
    background-size: 80%;
}
.kombucha-link {
    color: rgba(255, 255, 255, .8);
    font-size: 1.1rem;
    text-decoration: none;
    cursor: pointer;
}

.card__face--back--the-nature-boutique {
    background-image: url(img/nblandingpagegalleryimg.png);
}

.card__face--back--root-cause-breathwork {
    background-image: url(img/mrktinggalleryimg.png);
    background-size: 80%;
}

.root-cause-breathwork-link {
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    font-size: 1.1rem;
    cursor: pointer;
}

@media (min-width: 1px) and (max-width: 400px) {
    .section__subtitle--intro--landing-pages {
        position: relative;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        width: fit-content;
       margin-left: 1.7rem;
       margin-top: .5rem;
       left: -0px!important;
    }
    
}

@media (min-width: 401px) and (max-width: 675px) {
    .section__subtitle--intro--landing-pages {
        position: relative;   
        text-align: center;
        width: fit-content;
       margin-left: 2.5rem;
       margin-top: .5rem;
       left: 0px!important;;
    }
}

@media (min-width: 675px) and (max-width: 800px) {
    .section__subtitle--intro--landing-pages {
        color: rgba(255, 255, 255, 1);
        text-align: center;
        width: fit-content;
       margin-left: 1.7rem;
       margin-top: .5rem;
       left: 160px!important;;
    }
}

@media (max-width: 805px) {
    .intro--landing-pages-gallery {
        height: 430px;
    }
    .intro__h1--landing-pages {
        grid-area: img;
        position: relative;
        bottom: 0px;
        font-family: 'Big Shoulders Inline Display', sans-serif;
         letter-spacing: 5px;
         color: var(--clr-accent);
         text-transform: uppercase;
         font-weight: 400;
         text-align: center;
         font-size: 4.5rem;
     }
     
     .section__title--intro--landing-pages {
         color: var(--clr-accent);
         font-weight: 200;
         font-family: 'Big Shoulders Inline Display', sans-serif;
         text-align: center;
         font-size: 2rem;
     }

}

/***********************************/
/***********************************/
/***********************************/
/***********************************/
/* RESPONSIVE WEBSITES PAGE STYLES */
/***********************************/
/***********************************/
/***********************************/
/***********************************/

.intro--responsive-websites-gallery {
    margin-top: 5rem;
}

@media (max-width: 675px) {
    .intro--responsive-websites-gallery {
        margin-top: 5rem;
        height: 380px;
    }
}

@media (min-width: 675px) {
    .intro--responsive-websites-gallery {
        margin-top: 5rem;
        width: 550px;
        height: 300px;
    }
}

.intro__h1--responsive-websites {
    grid-area: img;
    position: relative;
    bottom: 10px;
    font-family: 'Big Shoulders Inline Display', sans-serif;
     letter-spacing: 5px;
     color: var(--clr-accent);
     text-transform: uppercase;
     font-weight: 400;
     text-align: center;
 }

 @media (min-width: 675px) and (max-width: 800px) {
    .intro__h1--responsive-websites {
        font-size: 4.5rem;
    }
 }
 
 .section__title--intro--responsive-websites {
    color: var(--clr-accent);
    font-weight: 200;
    font-family: 'Big Shoulders Inline Display', sans-serif;
    text-align: center;
    font-size: 2rem;
 }
 
 .section__subtitle--intro--responsive-websites {
     color: var(--clr-dark);
     text-align: center;
     width: fit-content;
     left: 280px;
     top: -10px;
     margin-top: 1rem;
     width: fit-content;
     font-size: 1rem;
 }

 @media (max-width: 675px) {
    .section__subtitle--intro--responsive-websites {
        position: relative;
        left: 35px;
    }
 }

 @media (min-width: 675px) and (max-width: 800px) {
    .section__subtitle--intro--responsive-websites {
        position: relative;
        left: 277px;
    }
}
 
 .card__face--back--photosnap {
     background-image: url(img/photosnapgalleryimg2.png);
     background-size: 80%;
 }
 .photosnap-link {
     color: rgba(255, 255, 255, .8);
     font-size: 1.1rem;
     text-decoration: none;
     cursor: pointer;
    
 }
 
 .card__face--back--the-planets {
     background-image: url(img/neptunegalleryimg2.png);
     background-position: center center;
     background-size: 85%;
      
      margin: 0 auto;   
 }
 .the-planets-link {
     color: rgba(255, 255, 255, .8);
     font-size: 1.1rem;
     text-decoration: none;
     cursor: pointer;

 }
 
 .card__face--back--the-nature-boutique {
     background-image: url(img/natureboutiquelandingpagegalleryimg.png);
     background-size: 85%;
 }

 .card__face--back--visit-space {
     background-image: url(img/spacetourismgalleryimage.png);
     background-size: 70%;
 }

 @media (max-width: 675px) {
    .intro--responsive-websites-gallery {
        width: 335px;
        max-width: 375px!important;
    } 
    }

/* Contact Modal */
@media (max-width: 675px){
    #modal {
        width: 350px;
        }
}


.modal {
    border: 2px solid white;
    border-radius: 8px;
    height: 500px;
    width: 400px;
 /*   max-width: 50ch; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: start;
    justify-content: space-evenly;
  /*  background-color: rgba(0, 0, 0, 0.648);
    background-image: 
    radial-gradient(at 47% 33%, rgba(141, 127, 96, 0.079) 0, transparent 9%), 
    radial-gradient(at 82% 65%, rgba(208, 181, 115, 0.03) 0, transparent 9%);*/
    background: rgba(57, 57, 49, 0.848);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
    background-blend-mode: screen;
    background-image: 
    radial-gradient(at 47% 33%, rgba(2, 2, 2, 0.579) 0, transparent 99%), 
    radial-gradient(at 82% 65%, rgba(208, 181, 115, 0.803) 0, transparent 95%);
}
/*uncomment to hide modal  */
.modal:not([open]) {
    display: none;
}

.send-me-a-message {
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Big Shoulders Inline Display', sans-serif;
    letter-spacing: 3px;
    font-weight: 200;
}

.modal::backdrop {
    background-color: rgba(255, 255, 255, 0.426);
}
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    font-family: 'Big Shoulders Inline Display', sans-serif;
    letter-spacing: 3px;
    font-weight: 200;
    text-transform: uppercase;
   
}

.button {
    color: rgba(255, 255, 255, 0.536);
    font-family: 'Big Shoulders Inline Display', sans-serif;
    letter-spacing: 3px;
    font-weight: 200;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.536);;
    padding: .5rem;
    border-radius: 8px;
    transition: 650ms ease-in-out;
    cursor: pointer;
    background: rgba(57, 57, 49, 0.848);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
    background-blend-mode: screen;
    background-image: 
    radial-gradient(at 47% 33%, rgba(2, 2, 2, 0.579) 0, transparent 99%), 
    radial-gradient(at 82% 65%, rgba(208, 181, 115, 0.803) 0, transparent 95%);
}

.button:hover {
    transform: scale(1.1);
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);;
}
/*hover effect only appears on desktop*/
@media (max-width: 975px) {
    .button {
        color: rgba(255, 255, 255, 0.8);
        font-family: 'Big Shoulders Inline Display', sans-serif;
        letter-spacing: 3px;
        font-weight: 200;
        text-transform: uppercase;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 1);;
        padding: .7rem;
        border-radius: 8px;
        transition: 650ms ease-in-out;
        cursor: pointer;
        background: rgba(57, 57, 49, 0.848);
        box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
        backdrop-filter: blur(200px);
        -webkit-backdrop-filter: blur(200px);
        background-blend-mode: screen;
        background-image: 
        radial-gradient(at 47% 33%, rgba(2, 2, 2, 0.579) 0, transparent 99%), 
        radial-gradient(at 82% 65%, rgba(208, 181, 115, 0.803) 0, transparent 95%);
    }
}

.nevermind {
    color: var(--clr-dark);
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    font-family: 'Big Shoulders Inline Display', sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
}

.message {
    position: relative;
    left: -20px;
    right: 0px;
    margin-bottom: 1rem;
}

.dot {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-inline: 1rem;
    margin-right: 2rem;
    bottom: 11px;
    left: 10px;
} 

.success {
    background-color: var(--clr-accent);
    color: white;
   
}

@media (max-width: 975px) {
    .dot {
        display: none;
    }
}

/* fade in classes for about me and my work sections */

.fade-in {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    transform: translateX(-50%);
}
.from-right {
    transform: translateX(50%);
}


.from-left,
.from-right {
    transform: transform 500ms ease-in;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
}

/* Scroll down */

.scrolldown {
    color: rgba(57, 57, 49, 0.848)!important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 5px;
    right: 0px;
    top: 60px;
    font-size: 1.5rem!important;
    font-family: monospace;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 1.5rem;
    opacity: 0.8;
}

.scrolldownspan {
text-align: center;
position: relative;
top: 25px;
right: 60px;
transform: rotate(180deg);
font-size: 1.5rem;
color: rgba(57, 57, 49, 0.848);
}

@media (min-width: 675px) {
    .scrolldown {
        top: 150px;
        left: -160px;
    }
}

@media (min-width: 800px) {
    .scrolldown {
        top: 175px;
        left: -190px;
    }
}


.glass-card-enclosure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*.glass-card-enclosure::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    clip-path: circle(10% at left 70%);
    opacity: 1;
    background: linear-gradient(180deg, rgb(97, 91, 77) 0%, rgba(84,84,84,1) 54%, rgb(238, 197, 101) 100%);
}*/

/*.beyond-the-code-list-one::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    clip-path: circle(10% at left 50%);
    opacity: 1;
    background: linear-gradient(180deg, rgb(97, 91, 77) 0%, rgba(84,84,84,1) 54%, rgb(238, 197, 101) 100%);
}

.beyond-the-code-list-one::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    clip-path: circle(10% at right 50%);
    opacity: 1;
    background: linear-gradient(180deg, rgb(97, 91, 77) 0%, rgba(84,84,84,1) 54%, rgb(238, 197, 101) 100%);
}*/

/*.glass-card-enclosure::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    clip-path: circle(10% at right 70%);
    opacity: 1;
    background: linear-gradient(180deg, rgb(97, 91, 77) 0%, rgba(84,84,84,1) 54%, rgb(238, 197, 101) 100%);
}*/


@media (max-width: 995px) {
 /*   .glass-card-enclosure::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(84,84,84);
        background: linear-gradient(180deg, rgba(84,84,84,0.7371323529411764) 0%, rgba(218,199,153,0.5998774509803921) 94%, rgba(84,84,84,0.7315301120448179) 10%);
        clip-path: circle(10% at right 20%);
        opacity: 1;
    }
    .glass-card-enclosure::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 90%;
        background: rgb(84,84,84);
        background: rgb(218,199,153);
        background: linear-gradient(180deg, rgba(218,199,153,0.5130427170868348) 0%, rgba(84,84,84,0.4990371148459384) 54%, rgba(218,199,153,0.5410539215686274) 100%);
        clip-path:  circle(4% at 10% 10%); 
        opacity: 0.5;
    } */
 /*   .beyond-the-code-list-one::before {
        content: '';
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 90%;
        background: rgb(84,84,84);
        background: rgb(218,199,153);
        background: linear-gradient(180deg, rgba(218,199,153,0.5130427170868348) 0%, rgba(84,84,84,0.4990371148459384) 54%, rgba(218,199,153,0.5410539215686274) 100%);
        clip-path:  circle(10% at 10% 10%); 
        opacity: 0.3;
    }
    .beyond-the-code-list-one::after {
        content: '';
        position: absolute;
        top: 400px;
        left: 0px;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 90%;
        background: rgb(84,84,84);
        background: linear-gradient(180deg, rgba(84,84,84,0.7371323529411764) 0%, rgba(218,199,153,0.5998774509803921) 94%, rgba(84,84,84,0.7315301120448179) 10%);
        clip-path: circle(20% at right 20%);
        opacity: 0.5;
    } */
    .beyond-the-code-list-item {
        font-size: 0.7rem!important;
        line-height: 2!important;
    }
    .section__title--services::after {
        width: 4em;
    }
}

.glass-card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.glass-card-container .glass-card {
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 0px;
    margin-bottom: 5rem;
    padding: 80px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1); 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5)!important;
    border-left: 1px solid rgba(255, 255, 255, 0.7)!important;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

@media (max-width:500px) {
    .glass-card-heading {
        left: 30px;
    }
    .glass-card-container .glass-card {
        padding: 60px;
        padding-top: 100px;
    }
    .glass-card-paragraph {
        font-size: 0.7rem!important;
        padding: 0;
        text-align: center;
        line-height: 2!important;
    }
}

.glass-card-container .glass-card .glass-card-content {
    padding: 20px;
    text-align: center;
   /* transform: translateY(100px);
    opacity: 0;
    transition: 500ms; */
}

.glass-card-container .glass-card .glass-card-content {
    transform: translateY(0px);
    opacity: 1;
}

.glass-card-container .glass-card .glass-card-content .glass-card-heading {
    position: absolute;
    top: -50px;
    right: 30px;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
}

.glass-card-container .glass-card .glass-card-content .glass-card-heading .glass-card-subheading {
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
}

.glass-card-container .glass-card .glass-card-content .glass-card-heading .glass-card-subheading {
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
}

.glass-card-container .glass-card .glass-card-content .glass-card-paragraph {
    font-size: 0.9rem;
    color: #fff;
    letter-spacing: 5px;
    line-height: 4;
    font-weight: 200;
    font-family: helvetica, sans-serif;
    text-transform: uppercase;
}

.glass-card-paragraph {
    margin-top: 2rem;
    font-size: 0.7rem;
}

 /* .animated-gradient {
    animation: animateBg 100s alternate infinite; 
    background-image: repeating-linear-gradient(to right,#dac799,#545454);
    background-size: 400% 100%;
    opacity: 0.3; 
  }*/
  @keyframes animateBg {
    0% { background-position: 100% 0%; }
    10% { background-position: 75% 0%; }
    20% { background-position: 50% 0%; }
    30% { background-position: 25% 0%; }
    50% {background-position: 10% 0%; }
    100% { background-position: 100% 0%; }
  }
  
  